.m-padding-mini {
    padding: 0.2em !important;
}
.m-padding-tiny {
    padding: 0.3em !important;
}
.m-padding-small {
    padding: 0.5em !important;
}
.m-padding {
    padding: 1em !important;
}
.m-padding-large {
    padding: 2em !important;
}
.m-padding-big {
    padding: 3em !important;
}
.m-padding-huge {
    padding: 4em !important;
}
.m-padding-massive {
    padding: 5em !important;
}

.m-padding-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padding-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padding-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padding-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padding-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padding-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padding-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padding-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

/*margin*/
.m-margin-mini {
    margin: 0.2em !important;
}
.m-margin-tiny {
    margin: 0.3em !important;
}
.m-margin-small {
    margin: 0.5em !important;
}
.m-margin {
    margin: 1em !important;
}
.m-margin-large {
    margin: 2em !important;
}
.m-margin-big {
    margin: 3em !important;
}
.m-margin-huge {
    margin: 4em !important;
}
.m-margin-massive {
    margin: 5em !important;
}

.m-margin-tb-mini {
    margin-top: 0.2em !important;
    margin-bottom: 0.2em !important;
}
.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-tb-small {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}
.m-margin-tb {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.m-margin-tb-large {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}
.m-margin-tb-big {
    margin-top: 3em !important;
    margin-bottom: 3em !important;
}
.m-margin-tb-huge {
    margin-top: 4em !important;
    margin-bottom: 4em !important;
}
.m-margin-tb-massive {
    margin-top: 5em !important;
    margin-bottom: 5em !important;
}

/*----text ---*/
.m-text-thin {
    font-weight: 300 !important;
}
.m-text-normal {
    font-weight: 400 !important;
}
.m-text-spaced {
    letter-spacing: 1px !important;
}
.m-text-lined {
    line-height: 1.8;
}

.m-text-font-small {
    font-size: small;
}

/*opacity*/

.m-opacity-mini {
    opacity: 0.8 !important;
}

/*position*/
.m-right-top {
    position: absolute;
    top: 0;
    right: 0;
}

/*----display-----*/
.m-inline-block {
    display: inline-block !important;
}

/*color*/
.m-black {
    color: #333;
}

.m-white {
    color: #ccc;
}